<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title> MovieVault</title>
  <link rel="stylesheet" href="/static/css/style.css"/>
</head>
<body>

  <!-- NAVBAR -->
  <nav class="navbar">
    <span class="navbar-brand"> MovieVault</span>
    <a href="/admin" class="btn-admin">Admin Panel</a>
  </nav>

  <!-- SEARCH -->
  <div class="search-wrapper">
    <input
      type="text"
      id="searchInput"
      placeholder="  Search by title or genre..."
      onkeyup="filterMovies()"
    />
  </div>

  <!-- LABEL -->
  <p class="section-title">All Movies</p>

  <!-- GRID -->
  <div id="movieGrid"></div>

  <script src="/static/js/main.js"></script>
</body>
</html>